.container {
    display: flex;
}

.column1{
height: 500px;
width: 40%;
background-color:whitesmoke;
}

.column2{
 width: 60%;
 background-color:white;
}

.footer {
    background-color: #0032a1;
    color: white;
    padding-bottom: 20; 
}