.container {
    display: flex;
}

.nat1{
height: 650px;
width: 40%;
background-color:rgba(245, 245, 245, 0.602);
}

.nat2{
 width: 60%;
 height: 650px;
 background-color:white;
}

.footer {
    background-color: #0032a1;
    color: white;
    padding: 20px; 
}

.row{
    display: inline-block
}