.container {
    display: flex;
}

.column1{
height: 500px;
width: 25%;
background-color:whitesmoke;
}

.column2{
 width: 75%;
 background-color:white;
}

.footer {
    text-align: center;
    background-color: #0032a1;
    padding: 100px;
    
}